.a1{
    border: 2px solid;
    width: 600px;
    height: 100px;
    text-align:center;
     background: aquamarine;
} 
.b1 h2{
    display: inline;
}
.b1{
    background-color: lightgrey;
    padding: 15px;
   top: -12px;
   display: flex;
   gap: 70px;
   list-style: none;

}
a{
  text-decoration: none;
}
.a1 {
    text-decoration: none;
}
#box1,#box2,#box3,#box4,#box5{
    border: 2px solid;
    text-align: left;
   
}
main{
border:2px solid;
width:620px ;
height: 600px;
overflow-y: scroll;
background-color: rgb(242, 247, 247);
} 


:target{
  background-color: rgb(219, 215, 206);
}
